sentence-transformers
scikit-learn
pandas
unidecode
hf_xet
ipywidgets
tqdm
scikit-learn
seaborn
matplotlib
lightgbm
xgboost
optuna
openpyxl
google-genai
langchain
langchain-google-genai
shap
plotly
chromadb
ragas